@font-face {
  font-family: 'Echo Horizon';
  src: local('Echo Horizon'), url('./fonts/EchoHorizon.ttf') format('truetype');
}

html {
  justify-content: center;
}

body {
  box-sizing: border-box;
  background: #22211d;
  color: #d2cccc;
  min-width: 350px;
  max-width: 1000px;
  min-height: 570px;
  font-family: 'Echo Horizon', sans-serif;
  font-size: clamp(1.1rem, 3vw, 1.8rem);
  letter-spacing: 0.12em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
main {
  width: 90%;
  padding-bottom: 200px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

a {
  color: rgb(50, 50, 241);
}

a:visited {
  color: rgb(128, 92, 162);
}

a:hover {
  color: rgb(88, 88, 201);
}

h2 {
  font-size: clamp(21px, 4vw, 2.2rem);
  margin: 0;
  color: rgb(128, 92, 162);
}

nav, footer {
  width: 100%;
  max-width: 1000px;
  height: clamp(120px, 20vw, 200px);
  position: fixed;
  z-index: 100;
}

nav {
  background-image: linear-gradient(#22211d,#22211d, #22211dd0, #22211d59,  #22211d00);
}

footer {
  bottom: 0;
  background-image: linear-gradient(#22211d00, #22211d7a, #22211dd0, #22211d, #22211d);
}

img {
  border-radius: 3px;
}

figure, iframe, video, .nc-projects {
  padding: 0;
  margin: 0;
  width: 100%;
}

figcaption {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  color: rgb(128, 92, 162);
}

iframe {
  height: 50vw;
  max-height: 350px
}

.nav-link, .foot-link {
  transition: transform 0.15s ease-in-out;
}

.nav-link:hover, .foot-link:hover {
  transform: scale(1.2);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.self-left {
  align-self: flex-start;
}

.text-highlight  {
  color: rgb(179, 140, 216);
}

.subtitle {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  padding-top: 5vw;
}

.about-page {
  padding-top: 100px;
}

.about-gallery {
  width: 100%;
  max-width: 1000px;
}

.projects, .nc-projects, .personal-projects {
  gap: 60px;
}

.nc-projects-slide, .personal-projects-item {
  width: 90%;
  max-width: 800px;
  border-radius: 15% 5% 10% 7%;
  box-shadow: 0 0 15px 0 rgba(171, 63, 248, 0.309);
  transition: transform 0.25s ease-in-out;
  opacity: 0.6;
}

.nc-projects-slide:hover, .personal-projects-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px 0 rgba(171, 63, 248, 0.661);
  opacity: 1;
}

.personal-projects, .personal-projects-a, iframe, video {
  width: 100%;
}

.form-main {
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.form-field, #submit-btn {
  width: 70%;
  opacity: 0.7;
  font-family: 'Echo Horizon', sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
}

#submit-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(128, 92, 162);
  transition: transform 0.25s ease-in-out;
  border: none;
  border-radius: 3px;
}

#submit-btn:hover {
  transform: scale(1.05);
  opacity: 1;
  background-color: rgb(88, 88, 201);
}

#landing-screen {
  height: 100vh;
  justify-content: center;
}

#headshot {
  width: clamp(340px, 50%, 600px);
}

#animated-footer {
  height: 50px;
  justify-content: center;
}

.band-list {
  padding-bottom: 20px;
}

#footer-links {
  position: fixed;
  width: 100%;
  max-width: 1000px;
  bottom: 0;
}

#form-contents, .form-note {
  width: 40vw;
  max-width: 600px;
  min-width: 300px;
}

#form-contents {
  padding: 5vw 2vw;
  border: 2px solid rgb(166, 159, 172);
  border-radius: 3px;
}

.form-note {
  padding: 1vw 2vw;
}