.box {
  box-sizing: border-box;
}
body {
  background: #22211d;
  min-width: 360px;
  max-width: 1000px;
  min-height: 570px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
}
nav {
  top: 0;
  left: 0;
}
nav,
footer {
  list-style: none;
  display: flex;
  position: fixed;
  background: black;
  width: 100%;
  height: 50px;
  opacity: 0.8;
  align-items: center;
  min-width: 360px;
  justify-content: center;
  z-index: 10;
}
nav ul,
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: inherit;
  justify-content: space-evenly;
}
nav li,
footer li {
  display: flex;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}
nav li a,
footer li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}
a:hover,
button:hover {
  background-image: linear-gradient(to bottom right, #413a2a, #57613c);
  border-radius: 3px;
}
button:hover {
  border-color: rgba(223, 223, 222, 0.8);
  color: aliceblue;
}
button {
  width: 90px;
  height: 30px;
  background-color: aliceblue;
  border-style: groove;
  border-color: rgba(223, 223, 222, 0);
  border-radius: 0.2em;
}
.intro-page {
  height: 84vh;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#headshot {
  display: block;
  height: 360px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.invisible {
  opacity: 0;
}
#clickMe {
  font-size: 1.4em;
  width: 340px;
  text-align: left;
}
h2 {
  display: inline-block;
  color: #e9c8757c;
  font-size: 1em;
}
#introHighlit,
#animatedBands,
#animatedAlbums {
  color: #e9c8757c;
}
#intro {
  color: rgba(255, 255, 255, 0.63);
  font-size: 1.3em;
}
#intro a:hover {
  background-image: none;
}
/* #animatedIntro,
#animatedFooter {
  animation: type 5s;
  overflow: hidden;
  white-space: nowrap;
} */
#animatedFooter {
  bottom: 100px;
}
footer {
  bottom: 0;
  left: 0;
}

/*about page photos*/
.center {
  display: block;
  min-width: 360px;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.caption {
  font-style: italic;
  font-size: 0.6em;
  font-weight: lighter;
}
/*projects*/
.projects-section {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.projects-li {
  width: 50vw;
  min-width: 500px;
  object-fit: cover;
}
.projects-lrg {
  object-fit: cover;
  border-radius: 5px;
}
.projects-titles {
  color: aliceblue;
  font-size: 0.9em;
  margin-bottom: 3rem;
}
/*forms*/
.form-center {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: block;
  background: linear-gradient(
    to bottom right,
    rgba(66, 65, 54, 0.7),
    rgba(102, 90, 52, 0.7)
  );
  height: 600px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  border-radius: 5px;
}
#formContents {
  width: 60%;
  margin: auto;
}
.formField:hover {
  background: #d8d8a1;
}
.formField {
  width: 90%;
  border-radius: 5px;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3px;
}
.submission {
  height: 50px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-left: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.captcha {
  margin-left: auto;
  margin-right: auto;
}
